.thank-you {
  padding: 50px 0;
  @include flex_centered(column);
  
  &__image {
    width: 50px;
  }
  &__heading {
    font-size: 1.7rem;
    color: $marine_blue;
  }
  &__text {
    // font-size: .9rem;
    text-align: center;
    line-height: 1.5;
    color: $cool_gray;
  }
}